@{
    ViewData["Title"] = "Blockchain";
}

<h1>Data</h1>
<form method="post" action="@Url.Action("GenerateData", "Block")">
    <div class="form-group d-flex align-items-center">
        <input type="number"
               name="difficulty"
               class="form-control me-2"
               placeholder="Difficulty Level"
               min="1"
               required
               value="@ViewData["Difficulty"]" /> <!-- Set the value to stored difficulty -->
        <button type="submit" class="btn btn-primary">Generate Data</button>
    </div>
</form>


<table class="table mt-3">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Humidity</th>
            <th>Temperature</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.From</td>
                <td class="truncate">@item.To</td> 
                <td>@item.Humidity</td>
                <td>@item.Temp</td>
            </tr>
        }
    </tbody>
</table>

<style>
    .truncate {
        max-width: 150px; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
